.tree {
	overflow-x:	auto; /* scrollbar depends on browser */
	overflow-y:	auto;
	max-height: 30vh;
}
.tree-row {
	grid-template-columns: minmax(310px, 1fr) minmax(310px,	1fr);
}
img.icon {
    height: 1em;
    width: auto;
    vertical-align: middle;
}
.root { /* only concerns elements below root class (first ul) */
    padding-inline-start: 0vw;
    width: fit-content; /* reset to max size of items */
}
li {
    list-style: none;
    min-height: var(--ui-height-text);
}
.node-value {
    display: inline;
    cursor: pointer;
}
.unsel > .node-value {
    color: var(--col-back-accent)
}
.sel > .node-value {
    color: var(--col-back);
    background-color: var(--col-fore);
}
.edit > .node-value {
    background-color: #fcc;
}
li.hide > ul {
    display: none;
}
li.show > ul {
    display: block;
}
li ul {
    margin-left:1em;
    padding-left:0vw;
}
i {
    margin-right:0.5em;
}
.node {
    border: 1px #ccc solid;
}
.Tree input, .Tree input:focus {
    background-color: #cfc;        
    padding: 0px;
    margin: 0px;
    border: 0px;
}
.icon-between {
    width: 1vw;
}
.collapse-btn {
    cursor:pointer;
}
