.InputInfo, .enableble {
	/* display: flex;
	padding:var(--b1); */

    display: flex;
    flex-wrap: wrap;
    align-items: center;
	margin-bottom: var(--b1);
}
.InputInfo .title {
	min-width: 8rem
}
.InputInfo .value {
	min-width: 2rem;
	max-width: 64rem;
	text-decoration-style: dotted;
	text-decoration-color: gray;
	text-decoration-line: underline;
}
.InputInfo .inline .warn {
	filter: invert(30%) sepia(66%) saturate(3340%) hue-rotate(347deg) brightness(88%) contrast(98%); 
}
/* .InputInfo .enableble {
	display:flex;
} */
.InputInfo .label {
	padding: 0.4rem;
}
.InputInfo input , .InputInfo select {
	border-radius: var(--b1);
}
.InputInfo button {
	height: stretch;
}
