.InputInfo, .enableble {
	/* display: flex;
	padding:var(--b1); */

	align-items: stretch;
	margin-bottom: var(--b1);
  	gap: 3px;
    display: flex;
    flex-wrap: wrap;
}
.InputInfo .title {
	min-width: 8rem
}
.InputInfo .value {
	min-width: 2rem;
	max-width: 64rem;
	text-decoration-style: dotted;
	text-decoration-color: gray;
	text-decoration-line: underline;
}
.InputInfo .inline .warn {
	filter: invert(30%) sepia(66%) saturate(3340%) hue-rotate(347deg) brightness(88%) contrast(98%); 
}
/* .InputInfo .enableble {
	display:flex;
} */
.InputInfo .label {
	padding: 0.4rem;
}
.InputInfo input , .InputInfo select , .InputInfo textarea{
	border-radius: var(--b1);
  	resize: none; /* Verhindert manuelles Vergrößern über den Parent hinaus */

}
.InputInfo button {
	height: stretch;
}

img.inline {
	vertical-align: middle;
	height: var(--b3);
	min-width: var(--b3);
}
.InputInfo .InputVar,.InputInfo div {
    vertical-align: middle;
    height: stretch;
}
